@import './variables.scss';

.bg-custom-color-primary-blue {
  background-color: $custom-color-primary-blue;
}

.bg-custom-color-primary-green {
  background-color: $custom-color-primary-green;
}

.bg-custom-color-yellow {
  background-color: $custom-color-yellow;
}

.bg-custom-color-primary-pink {
  background-color: $custom-color-primary-pink;
}

.bg-custom-color-secundary-pink {
  background-color: $custom-color-secundary-pink;
}

.bg-custom-color-secundary-blue {
  background-color: $custom-color-secundary-blue;
}

.bg-custom-color-three-pink {
  background-color: $custom-color-three-pink;
}

.bg-custom-color-secundary-green {
  background-color: $custom-color-secundary-green;
}

.bg-custom-color-tomato {
  background-color: $custom-color-tomato;
}

.bg-custom-color-primary-gray {
  background-color: $custom-color-primary-gray;
}

.bg-custom-color-secundary-gray {
  background-color: $custom-color-secundary-gray;
}

.bg-custom-color-brown {
  background-color: $custom-color-brown;
}

.bg-custom-color-white {
  background-color: #fff;
}