// Palet Colors
$custom-color-primary-blue: #BAE2FF;
$custom-color-primary-green: #B9FFDD;
$custom-color-yellow: #FFE8AC;
$custom-color-primary-pink: #FFCAB9;
$custom-color-secundary-pink: #F99494;
$custom-color-secundary-blue: #9DD6FF;
$custom-color-three-pink: #ECA1FF;
$custom-color-secundary-green: #DAFF8B;
$custom-color-tomato: #FFA285;
$custom-color-primary-gray: #CDCDCD;
$custom-color-secundary-gray: #979797;
$custom-color-brown: #A99A7C;

// Background
$custom-color-secundary: #F0F2F5;

// Text
$text-color: #4f4f4d;

// Card
$card-width: 390px;
$card-height: 437.59px;
$border-radius: 25px;
$box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);

// Input
$input-width: 85%;
$input-height: 2rem;
$input-font-size: 1.4rem;
$input-font-weight: 500;
$input-padding: 10px;
$input-border-radius: 30px;
$input-border: 1px solid;

// Scrollbar
$scrollbar-width: 6px;
$scrollbar-height: 12px;
$scrollbar-track-bg: #f1f1f1;
$scrollbar-thumb-bg: #888;
$scrollbar-thumb-hover-bg: #555;
$scrollbar-border-radius: 10px;
